@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    公司管理
}
@section Header{

}

<div class="ManageBody">
    <div class="Page-toolbar" style="margin-bottom:10px;">
        <a href="javascript:  BtnSaveOrUpdate()" style="float: left;" class="l-btn l-btn-plain">
            <span class="l-btn-text icon-save" style="padding-left: 20px;" id="ibtnsave">保存</span>
        </a>
        <a href="javascript:  fixDel()" style="float: left;" class="l-btn l-btn-plain">
            <span class="l-btn-text icon-cancel" style="padding-left: 20px;" id="ibtnsave">删除</span>
        </a>
        <a href="javascript:  AddDept()" style="float: left;" class="l-btn l-btn-plain">
            <span class="l-btn-text icon-add" style="padding-left: 20px;" id="ibtnsave">部门添加</span>
        </a>
        <a href="javascript:  AddPost()" style="float: left;" class="l-btn l-btn-plain">
            <span class="l-btn-text icon-add" style="padding-left: 20px;" id="ibtnsave">岗位添加</span>
        </a>
    </div>
    <div>

        <input id="ihidPID" type="hidden" value="-1" />
        <form id="form1" accept-charset="" action="/" method="post">
            <table class="datatable">
                <tr>
                    <th>父节点</th>
                    <td>
                        【<input id="ilblParentName" type="text" disabled="disabled" name="PName" style="font-weight: bold;width:150px;" value="根节点">】

                    </td>
                </tr>
                <tr>
                    <th>
                        部门名称：
                    </th>
                    <td>
                        <input name="DepName" id="iDepName" type="text" class="easyui-textbox" style="width: 300px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        部门排序：
                    </th>
                    <td>
                        <input name="DepSort" type="text" class="easyui-textbox" data-options="multiline:true" style="width:300px;height:50px" />
                    </td>
                </tr>
                <tr>
                    <th>
                        部门描述：
                    </th>
                    <td>
                        <input name="DepDescription" type="text" class="easyui-textbox" data-options="multiline:true" style="width:300px;height:50px" />
                    </td>
                </tr>



            </table>
        </form>



    </div>

</div>


<script type="text/javascript">
    var _id = '@Request.QueryString["id"]';
    var _cid = '@Request.QueryString["cid"]';
    var _pid = '@Request.QueryString["pid"]';
    function AddDept() {
        location.href = '/Organization/DepartmentManage?cid=' + _cid + '&pid=' + _pid;
    }
    function AddPost() {
        location.href = '/Organization/PositionManage?cid=' + _cid + '&did==' + _id;
    }

    $(function () {
        if (_id != "") {
            $.ajax({
                type: "get", dataType: "json",
                url: "/Organization/AjaxGetDepartmentDetail?rad=" + new Date().toString(),
                async: true,
                data: { id: _id },
                success: function (data) {
                    $("#form1").form("reset");
                    $("#form1").form("load", data);
                    _cid = data.CompanyID;
                    _pid = data.DepPID;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    TopNotify(errorThrown, 'error');
                }
            });
        }


    })
    function BtnSaveOrUpdate() {
        if ($("#form1").form("validate")) {
            $.ajax({
                cache: true,
                type: "POST",
                url: '/Organization/AjaxSaveDepartment?id=' + _id + '&cid=' + _cid + '&pid=' + _pid,
                data: $('#form1').serialize(),
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                },
                success: function (data) {
                    if (data.result == "true") {
                        _id = data.id;
                        TopNotify("保存成功", 'info');
                        if (_pid != '' && _pid != '-1')
                            parent.SycnNode(_id, _pid, $("#iDepName").val());
                        else
                            parent.SycnNode(_id, _cid, $("#iDepName").val());
                    }
                }
            });
        }

    }
    function fixDel() {
        $.messager.confirm("确认提示框", "确认删除这条吗？", function (r) {
            if (r) {
                $.post('/System/AjaxDeleteDepartment', { id: _id }, function (res) {
                    if (res == "true") {
                        parent.AsynRemoveNode(_id);
                        $("#form1").form("reset");
                        _id = "";
                        TopNotify("数据已删除", 'info');
                    }
                    else {
                        TopNotify(res, 'error');
                    }
                });
            }
        });
    };
</script>