@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    公司管理
}
@section Header{

}
<div style="width: 100%; height: 99%" class="easyui-layout" fit="true">
    <div region="west" icon="icon-reload" title="公司组织架构" split="true" style="width: 280px;overflow:auto">
        @*  <div class="Page-toolbar" style="width: 258px;margin-bottom:10px;">
                   <a href="javascript:  ChangePid()" style="float: left;" class="l-btn l-btn-plain">
                        <span class="l-btn-text icon-lock" style="padding-left: 20px;" id="ibtnsave">启用拖拽</span>
                    </a>
            </div>*@
        <ul id="ilimitmodule"></ul>

    </div>
    <div id="divQuery" region="center" style="height: auto; overflow-x: hidden;">

        <iframe id="iframecenter" scrolling="auto" name="UserLimit" frameborder="0" src="about:blank" style="width: 100%; height: 100%;
            "></iframe>
    </div>



</div>
<script type="text/javascript">
    var _id;
    function AddCompany() {
        var oFrm = document.getElementById("iframecenter");
        oFrm.src = '/Organization/CompanyManage?id=' + _id;
    }
    function AddDept() {
        var oFrm = document.getElementById("iframecenter");
        oFrm.src = '/Organization/DepartmentManage?id=' + _id;
    }
    function AddCompany() {
        var oFrm = document.getElementById("iframecenter");
        oFrm.src = '/Organization/PositionManage?id=' + _id;
    }

    $(function () {
        LoadFuncTree();
    });

    function LoadFuncTree(expandid) {
        $('#ilimitmodule').tree({
            checkbox: false,
            lines: true,
            parentField: "pid",
            textFiled: "text",
            idFiled: "id",
            dnd: false,
            cascadeCheck: false,
            url: '/Organization/AjaxQueryOrgList',
            onClick: function (node) {
                if (null != node && node != "undefined") {
                    var oFrm = document.getElementById("iframecenter");
                    switch (node.iconCls) {
                        case "icon-company":
                            oFrm.src = '/Organization/CompanyManage?id=' + node.id ;
                            break;
                        case "icon-dept":
                            oFrm.src = '/Organization/DepartmentManage?id=' + node.id ;
                            break;
                        case "icon-post":
                            oFrm.src = '/Organization/PositionManage?id=' + node.id;
                            break;
                        default:
                            oFrm.src = 'about: blank';
                            break;
                    }


                }
            },
            onLoadSuccess: function () {
                //$('#ilimitmodule').tree('disableDnd');
            }
        });
    }
    function AsynRemoveNode(id) {
        var snode = $('#ilimitmodule').tree('find', id);
        $('#ilimitmodule').tree('remove', snode.target)
    }
    function SycnNode(id, pid, text) {
        var snode = $('#ilimitmodule').tree('find', id);
        if (snode) {
            $.ajaxSetup({ cache: false });
            $.ajax({
                type: "get", dataType: "json",
                url: "/system/ajaxgetfunctiondetail?id=" + id,
                async: true,
                success: function (data) {
                    snode.text = data.FuncName;
                    $('#ilimitmodule').tree('update', snode);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    TopNotify(errorThrown.message, "error");
                }
            });
        }
        else {
            var pnode = $('#ilimitmodule').tree('find', pid);
            if (snode) {
                $('#ilimitmodule').tree('append', {
                    parent: pnode.target,
                    data: [{
                        id: id,
                        pid: pid,
                        text: text,
                        iconCls: 'icon-add'
                    }]
                });
            }
            else {
                $('#ilimitmodule').tree('append', {
                    data: [{
                        id: id,
                        pid: pid,
                        text: text,
                        iconCls: 'icon-add'
                    }]
                });
            }
        }
    }


</script>