@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    博客文章列表
}
@section Header{
    <script src="~/Res/editor/editor.js"></script>
}
<div class="ManageBody">
    <div class="ManageOperateTitle">
        用户管理
    </div>
    <div class="ManageOperate">
        <div id="tabs" class="easyui-tabs" style="width: auto;">
            <div id="divDept" title="资源详细" style="height: 800px; overflow: hidden;">
                <form id="form1" action="/" method="post">
                    <table class="datatable">
                        <tr>
                            <th>
                                用户名：
                            </th>
                            <td>
                                <input name="UserName" type="text" class="easyui-textbox" style="width: 550px" data-options="required:true" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                密码：
                            </th>
                            <td>
                                初始密码为123456，勾选进行重置<input name="IsReset" type="checkbox" id="ickIsReset" />
                            </td>
                        </tr>

                        <tr>
                            <th>
                                姓名：
                            </th>
                            <td>
                                <input name="CNName" type="text" class="easyui-textbox" style="width: 550px" data-options="required:true" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                邮箱：
                            </th>
                            <td>
                                <input name="EMail" type="text" class="easyui-textbox" style="width: 550px" />
                            </td>
                        </tr>

                        <tr>
                            <th>
                                手机：
                            </th>
                            <td>
                                <input name="Mobile" type="text" class="easyui-textbox" style="width: 550px" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                操作：
                            </th>
                            <td>
                                启用<input name="Status" type="checkbox" id="ickStatus" checked="checked" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                角色：
                            </th>
                            <td>
                                @foreach (ET.Sys_DEF.SysRole item in ViewBag.ListSysRole)
                                {
                                    <input name="RoleID" type="checkbox" id="ick_@item.RoleID" value="@item.RoleID" />@item.RoleName
                                }
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div title="关联权限" style="overflow: hidden;">
                <div class="Page-toolbar" style="border-right: 1px soild #eff;">角色权限<input title="" type="checkbox" onclick="treeChecked(this, 'ilimitmodule')" />全选/反选</div>
                <ul id="ilimitmodule"></ul>
            </div>

        </div>
       
    </div>
</div>



<script type="text/javascript">
    var _id = '@Request["infoid"]';
    $(function () {
        //启用快捷键 83/ALT+s保存
        $(window).ApplyQuickKey(83, BtnSaveOrUpdate);
        //启用快捷键 83/ALT+c关闭
        $(window).ApplyQuickKey(67, parent.windowClose);
        if (_id != "") {
            $.ajax({
                type: "get", dataType: "json",
                url: "/Organization/AjaxGetUserDetail?rad=" + new Date().toGMTString(),
                async: true,
                data: { infoid: _id },
                success: function (data) {
                    $("#form1").form("reset");
                    $("#form1").form("load", data);
                    if (data.Status == 1)
                        $('#ickStatus').attr("checked", true);
                    $("[name='RoleID']").each(function () {
                        if (data.RoleIDs.toLowerCase().indexOf($(this).val()) >= 0) {
                            $(this).attr("checked", "true");
                        }
                    })

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                }
            });
        }
        $('#ilimitmodule').tree({
            checkbox: true,
            lines: true,
            parentField: "pid",
            textFiled: "text",
            idFiled: "id",
            dnd: false,
            cascadeCheck: false,
            url: '/Organization/AjaxGetAllFunctionData?uid=' + _id,
            onBeforeExpand: function (node, param) {
                $('#ilimitmodule').tree('options').url = "/Organization/AjaxGetAllFunctionData?id=" + node.id + "&uid=" + _id;
            }
        });
    });
    function treeChecked(selected, treeMenu) {
        var roots = $('#' + treeMenu).tree('getRoots');//返回tree的所有根节点数组
        if (selected.checked) {
            $('#' + treeMenu + " .tree-checkbox").addClass("tree-checkbox1");
        } else {
            $('#' + treeMenu + " .tree-checkbox").removeClass("tree-checkbox1").addClass("tree-checkbox0");
        }
    }
    function BtnSaveOrUpdate() {
        if ($("#form1").form("validate")) {
            var actionids = new Array();
            var nodes = $('#ilimitmodule').tree('getChecked');
            var s = '';
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].id != '')
                    actionids.push(nodes[i].id)

            }
            var RoleIDs = "";
            $("[name=RoleID]").each(function () {
                if ($(this).attr("checked"))
                {
                    if (RoleIDs == "")
                        RoleIDs = $(this).val();
                    else
                        RoleIDs = ","+$(this).val();
                }
            })
            $.ajax({
                cache: true,
                type: "POST",
                url: '/Organization/AjaxSaveUser?infoid=' +  _id + "&" + $('#form1').serialize(),
                data: { ActionIDS: JSON.stringify(actionids), RoleIDs: RoleIDs },
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                },
                success: function (data) {
                    if (data == "true") {
                        parent.TopNotify("保存成功", 'info');
                        parent.windowClose();
                    }
                }
            });
        }

    }
</script>
