label { display:inherit; }

.mod-setting { border: solid 1px #ededed;  color: #666; }
    .mod-setting .setting-title { font-size: 22px; height: 46px; line-height: 46px; padding-left: 20px; background: -webkit-linear-gradient(#fff,#f7f7f7); background: -moz-linear-gradient(#fff,#f7f7f7); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f7f7f7); }
    .mod-setting .setting-content { background: #f7f7f7; min-height: 640px; _height: 640px; }
    .mod-setting .setting-menu { float: left; width: 199px; _overflow: hidden; }
        .mod-setting .setting-menu .menu-title { height: 39px; line-height: 38px; font-size: 14px; border-top: solid 1px #e5e5e5; border-bottom: solid 1px #e5e5e5; border-right: 1px solid #e5e5e5; position: relative; background: -webkit-linear-gradient(#fff,#f2f2f2); background: -moz-linear-gradient(#fff,#f2f2f2); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f2f2f2); }
            .mod-setting .setting-menu .menu-title h3 { display: block; padding-left: 45px; font-weight: bold; position: absolute; left: 0; top: -1px; height: 41px; width: 155px; }
        .mod-setting .setting-menu .active h3 { padding-left: 41px; border-left: 4px #2e82ff solid; }
        .mod-setting .setting-menu .menu-profile h3 { background: no-repeat 0 0; background-position: 0 -168px; }
        .mod-setting .setting-menu .menu-profile-current h3 { background: no-repeat 0 0; background-position: 0 -214px; }
        .mod-setting .setting-menu .menu-privacy h3 { background: no-repeat 0 0; background-position: 0 -76px; }
        .mod-setting .setting-menu .menu-privacy-current h3 { background: no-repeat 0 0; background-position: 0 -122px; }
        .mod-setting .setting-menu .menu-list .menu-item { line-height: 34px; height: 35px; font-size: 12px; width: 198px; border-right: 1px solid #e5e5e5; }
            .mod-setting .setting-menu .menu-list .menu-item a { margin-left: 45px; display: block; padding-left: 11px; background: none; color: #666; }
            .mod-setting .setting-menu .menu-list .menu-item.on { background: #fff; border-right: 1px solid #fff; }
                .mod-setting .setting-menu .menu-list .menu-item.on a { }
        .mod-setting .setting-menu .menu-list .menu-split { margin: 0; border-top: solid 1px #dde3e9; height: 0; overflow: hidden; width: 199px; font-size: 0; line-height: 0; *margin-top: -4px; }
    .mod-setting .setting-detail { float: left; width: 998px; border-top: solid 1px #e5e5e5; background-color: #fff; min-height: 640px; _height: 640px; }
        .mod-setting .setting-detail .detail-bg { height: 0; border-top: solid 1px #efefef; border-bottom: solid 1px #f9f9f9; overflow: hidden; }
    .mod-setting .button { width: 73px; height: 33px; display: block; text-align: center; line-height: 28px; color: #fff; margin-right: 8px; float: left; background: no-repeat 0 0; background-position: 0 0; }
        .mod-setting .button:hover { color: #fff; background-position: 0 -38px; }
    .mod-setting .save-ok { float: left; padding-left: 22px; line-height: 33px; height: 33px; background: no-repeat 0 0; color: #666; display: none; background-position: 0 -260px; }
    .mod-setting .setting-submit-btn-interests { margin-bottom: 20px; }
.mod-cus-input { border: 1px solid; border-color: #d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8; box-shadow: 2px 3px 3px #f6f8f9 inset; -moz-box-shadow: 2px 3px 3px #f6f8f9 inset; -webkit-box-shadow: 2px 3px 3px #f6f8f9 inset; outline: none; padding: 0 8px; width: 212px; height: 26px; font-size: 12px; *line-height: 26px; line-height: 26px\0; padding: 1px 8px; -webkit-transition-property: background-color,color,width,border-color; -webkit-transition-duration: .5s; -moz-transition-property: background-color,color,width,border-color; -moz-transition-duration: .5s; -o-transition-property: background-color,color,width,border-color; -o-transition-duration: .5s; transition-property: background-color,color,width,border-color; transition-duration: .5s; }
.setting-profile-form textarea { line-height: 18px; resize: none; padding-top: 5px; padding-bottom: 5px; overflow: auto; }
.mod-cus-input-242 { width: 242px; }
.mod-cus-input-3 { width: 482px; height: 68px; }
.mod-cus-input-4 { width: 482px; height: 138px; }
.mod-cus-input-5 { width: 482px; height: 18px; }
.mod-cus-input-hover { border: 1px solid #ABABAB; border-right-color: #ccc; border-bottom-color: #ccc; }
.mod-cus-input-focus { border: 1px solid #377BCB; border-right-color: #377bcb; border-bottom-color: #377bcb; }
.mod-cus-input-error { border: 1px solid #da1111; }
.mod-cus-input-tip { display: none; background: url(../img/input_error_ab3b0bd6.png) no-repeat 0 0; font-size: 12px; padding-left: 20px; margin-top: 5px; line-height: 18px; }
.school-name { width: 227px; overflow: hidden; text-overflow: ellipsis; margin-right: 5px; }
.mod-school-dialog { width: 565px; height: 283px; padding: 15px; border: 1px solid #6699c9; background: #fff; position: absolute; display: none; }
    .mod-school-dialog .mod-city-title { line-height: 30px; float: left; padding-right: 10px; }
    .mod-school-dialog .mod-school-name { width: 533px; height: 205px; overflow: auto; overflow-x: hidden; padding: 15px; margin-top: 15px; border: 1px solid #d8d8d8; *float: left; }
.mod-school-name td { line-height: 26px; }
.mod-school-name tr.odd { background: #f7f7f7; }
#avatar { margin-left: -8px; padding-top: 10px; }
#mod-portrait-avatar { position: relative; }
    #mod-portrait-avatar .save-ok { position: absolute; right: 174px; background-color: #fff; }
    #mod-portrait-avatar span.zhidao-save-ok { position: absolute; bottom: 240px; right: 600px; }
.avatar-nav { height: 24px; padding-top: 20px; }
    .avatar-nav .avatar-nav-current { float: left; width: 310px; font-size: 14px; }
    .avatar-nav .avatar-nav-setting { float: left; font-size: 14px; }
.pass-portrait ul, .pass-portrait li, .pass-portrait p { margin: 0; padding: 0; }
.jcrop-holder { direction: ltr; text-align: left; }
.jcrop-vline, .jcrop-hline { background: #fff url("../img/Jcrop_d65babb3.gif"); font-size: 0; position: absolute; }
.jcrop-vline { height: 100%; width: 1px !important; }
    .jcrop-vline.right { right: 0; }
.jcrop-hline { height: 1px !important; width: 100%; }
    .jcrop-hline.bottom { bottom: 0; }
.jcrop-tracker { height: 100%; width: 100%; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; }
.jcrop-handle { background-color: #333; border: 1px #eee solid; width: 7px; height: 7px; font-size: 1px; }
    .jcrop-handle.ord-n { left: 50%; margin-left: -4px; margin-top: -4px; top: 0; }
    .jcrop-handle.ord-s { bottom: 0; left: 50%; margin-bottom: -4px; margin-left: -4px; }
    .jcrop-handle.ord-e { margin-right: -4px; margin-top: -4px; right: 0; top: 50%; }
    .jcrop-handle.ord-w { left: 0; margin-left: -4px; margin-top: -4px; top: 50%; }
    .jcrop-handle.ord-nw { left: 0; margin-left: -4px; margin-top: -4px; top: 0; }
    .jcrop-handle.ord-ne { margin-right: -4px; margin-top: -4px; right: 0; top: 0; }
    .jcrop-handle.ord-se { bottom: 0; margin-bottom: -4px; margin-right: -4px; right: 0; }
    .jcrop-handle.ord-sw { bottom: 0; left: 0; margin-bottom: -4px; margin-left: -4px; }
.jcrop-dragbar.ord-n, .jcrop-dragbar.ord-s { height: 7px; width: 100%; _width: 7px; }
.jcrop-dragbar.ord-e, .jcrop-dragbar.ord-w { height: 100%; _height: 7px; width: 7px; }
.jcrop-dragbar.ord-n { margin-top: -4px; }
.jcrop-dragbar.ord-s { bottom: 0; margin-bottom: -4px; }
.jcrop-dragbar.ord-e { margin-right: -4px; right: 0; }
.jcrop-dragbar.ord-w { margin-left: -4px; }
.jcrop-light .jcrop-vline, .jcrop-light .jcrop-hline { background: #fff; filter: alpha(opacity=70) !important; opacity: .70 !important; }
.jcrop-light .jcrop-handle { -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #000; border-color: #fff; border-radius: 3px; }
.jcrop-dark .jcrop-vline, .jcrop-dark .jcrop-hline { background: #000; filter: alpha(opacity=70) !important; opacity: .7 !important; }
.jcrop-dark .jcrop-handle { -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #fff; border-color: #000; border-radius: 3px; }
.solid-line .jcrop-vline, .solid-line .jcrop-hline { background: #fff; }
.jcrop-holder img, img.jcrop-preview { max-width: none; }
.pass-portrait input { color: #666; font-family: "SimSun"; margin: 0; outline: none; padding: 0; }
.pass-portrait ul, .pass-portrait li { color: #666; list-style: none; margin: 0; padding: 0; }
.pass-portrait { color: #666; font-family: "SimSun"; font-size: 12px; margin: 0 auto; width: 720px; }
.pass-portrait-nav { border-bottom: 1px solid #e5e5e5; font-size: 14px; height: 36px; position: relative; width: 440px; }
    .pass-portrait-nav li { background: #fff; border-bottom: 1px solid #e5e5e5; border-top: 3px solid #fff; cursor: pointer; height: 33px; line-height: 33px; text-align: center; width: 118px; position: absolute; left: 0; top: 0; }
        .pass-portrait-nav li.pass-portrait-navright { left: 120px; }
        .pass-portrait-nav li.pass-portrait-current { border-bottom: 1px solid #fff; border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; border-top: 3px solid #2e82ff; font-weight: bold; }
.pass-portrait-content { overflow: hidden; padding: 20px 0 0 23px; text-align: left; }
.pass-portrait-tabcontent { height: 301px; overflow: auto; width: 440px; -webkit-overflow-scrolling: touch; }
.pass-portrait-tabcontentIELowser { position: relative; left: 0; top: 0; }
.pass-portrait-left { display: inline; float: left; }
.pass-portrait-crop { background: #e2e2e2; height: 300px; line-height: 300px; text-align: center; width: 400px; overflow: hidden; position: absolute; z-index: 1001; }
.ie-lowser-crop { text-align: left; }
.pass-portrait-crop img { vertical-align: middle; max-height: 300px; max-width: 400px; visibility: hidden; }
.pass-portrait-crop .loadingImg { height: 32px; width: 32px; left: 50%; top: 50%; margin-left: -16px; margin-top: -16px; visibility: visible; position: absolute; }
.pass-portrait-openimg { position: relative; padding-bottom: 68px; }
.pass-portrait-filebtn { background: none; border: none; background: url('../img/setportrait_btn_da8845e1.png') 0 0; background-repeat: no-repeat; height: 38px; line-height: 38px; text-align: center; width: 130px; }
.pass-portrait-filebtn-hover { background-position: 0 -75px; }
.pass-portrait-file { height: 38px; opacity: 0; filter: alpha(opacity=0); font-size: 30px; position: absolute; left: 0; top: 0; width: 130px; }
.pass-portrait-refile { height: 38px; opacity: 0; filter: alpha(opacity=0); font-size: 30px; position: absolute; left: 140px; top: 40px; width: 130px; }
.pass-portrait-msg { color: #999; display: inline-block; margin-left: 6px; text-align: left; }
.pass-portrait-recommend { }
    .pass-portrait-recommend li { cursor: pointer; float: left; height: 51px; margin-right: 10px; text-align: center; width: 51px; }
        .pass-portrait-recommend li img { height: 50px; width: 50px; }
.recommendSpan { background: url('../img/curhot_f1b2ec3c.png'); display: inline-block; height: 51px; width: 51px; position: relative; top: -54px; zoom: 1; visibility: hidden; }
li.pass-portrait-more { background: #f0f0f0; line-height: 50px; margin-right: 0; }
.pass-portrait-tabcontent ul.pass-portrait-hotrecommend { overflow: hidden; padding-bottom: 10px; }
.pass-portrait-hotrecommend li { cursor: pointer; float: left; margin-top: 10px; margin-right: 10px; height: 51px; width: 51px; }
    .pass-portrait-hotrecommend li.pass-portrait-padli { position: relative; top: 0; left: 0; }
    li.liIELowser, .pass-portrait-hotrecommend li.liIELowser { overflow: hidden; }
    .pass-portrait-hotrecommend li img { height: 50px; width: 50px; }
.pass-portrait-hotrecommend .recommendSpan { background: url('../img/curhot_f1b2ec3c.png'); display: inline-block; height: 51px; width: 51px; position: relative; top: -54px; zoom: 1; }
span.recommendSpanIELowser, .pass-portrait-hotrecommend span.recommendSpanIELowser { background: url('../img/curhotIELower_6f020e81.gif'); top: -50px; }
span.recommendSpanIE8, .pass-portrait-hotrecommend span.recommendSpanIE8 { top: -52px; }
.pass-portrait-save { padding-top: 40px; position: relative; }
.pass-portrait-savebtn, .pass-portrait-cancelbtn { background: none; border: none; background: url('../img/setportrait_btn_da8845e1.png'); background-repeat: no-repeat; cursor: pointer; height: 38px; line-height: 38px; text-align: center; width: 130px; }
input.pass-portrait-savebtn { background-position: 0 -38px; color: #fff; }
input.pass-portrait-cancelbtn { background-position: 0 0; margin-left: 6px; }
input.pass-portrait-cancelbtn-hover { background-position: 0 -75px; color: #666; cursor: pointer; }
input.pass-portrait-savebtn-hover { background-position: 0 -150px; color: #fff; cursor: pointer; }
input.pass-portrait-disabled { background-position: 0 -113px; color: #bbb; cursor: default; }
.pass-portrait-status { background: url('../img/setportrait_status_f56b136b.png') 0 0; background-repeat: no-repeat; display: inline-block; height: 16px; margin-left: 18px; padding-left: 20px; }
.pass-portrait-statuserror { background-position: 0 -18px; }
.pass-portrait-right { border-left: 1px solid #e5e5e5; float: right; height: 390px; margin-left: 20px; padding-left: 36px; width: 180px; }
    .pass-portrait-right .pass-portrain-commonp { font-size: 18px; }
    .pass-portrait-right p.pass-portrain-previewp { font-size: 12px; margin: 6px 0 18px 0; }
.pass-portrait-previewboxbig { height: 100px; width: 100px; overflow: hidden; margin: 0; }
.pass-portrait-previewboxbigsmall { height: 55px; width: 55px; overflow: hidden; margin: 0; }
.pass-portrait-previewbig { height: 100px; width: 100px; }
.pass-portrait-previewsmall { height: 55px; width: 55px; }
.pass-portrait-history { overflow: hidden; height: 43px; }
    .pass-portrait-history li { float: left; height: 35px; margin-right: 10px; margin-top: 6px; width: 36px; }
        .pass-portrait-history li img { height: 35px; width: 35px; cursor: pointer; }
    .pass-portrait-history .historySpan { background: url('../img/curHishot_39265c1b.png'); display: inline-block; height: 36px; width: 36px; position: relative; top: -39px; zoom: 1; visibility: hidden; }
    .pass-portrait-history span.historySpanIELowser { background: url('../img/curHishotIELower_88fe7aaf.gif'); top: -36px; }
    .pass-portrait-history span.historySpanIE8 { top: -37px; }
    .pass-portrait-history li.visiHisHot span { visibility: visible; }
li.pass-portrait-hisdefault { background: #f0f0f0; border: 1px solid #e5e5e5; }
.portrait-dialog-mask { background: #000; height: 100%; opacity: .2; filter: alpha(opacity=20); position: fixed; left: 0; top: 0; width: 100%; z-index: 500; }
.pass-portrait-dialog .pass-portrait { background: #fff; margin-left: -360px; margin-top: -250px; position: absolute; left: 50%; top: 50%; z-index: 501; }
.portrait-dialog-title { background: #f0f0f0; font-size: 18px; height: 40px; line-height: 40px; padding-left: 20px; }
.portrait-dialog-close { background: url('../img/setportrait_status_f56b136b.png') 0 -36px; background-repeat: no-repeat; cursor: pointer; height: 18px; position: absolute; right: 10px; top: 10px; width: 18px; }
.pass-portrait-dialog .pass-portrait-left { padding: 20px 0 0 20px; }
.pass-portrait-dialog .pass-portrait-right { background: #f7f7f7; padding-top: 20px; }
.pass-portrait-dialog .pass-portrait-nav { margin-bottom: 20px; }
.pass-portrait-dialog .pass-portrait-save { background: #ebebeb; border-top: 1px solid #d8d8d8; height: 46px; padding-top: 8px; text-align: center; }
.pass-portrait-dialog .pass-portrait-refile { left: 50%; top: 10px; margin-left: 6px; }
.portrait-dialog-status { background: #fff; border: 2px solid #8a8a8a; border-width: 0 2px 2px 2px; display: block; padding: 10px 0; left: 50%; margin-left: -99px; position: absolute; top: 0; text-align: center; width: 198px; z-index: 502; }
p.pass-portrain-commonp { margin: 0; padding: 0 0 18px 0; }
.pass-portrait-hide { display: none; }
li.visiHot span { visibility: visible; }
li.pass-portrait-clearmr { margin-right: 0; }
.pass-portrait-clearfix { clear: both; display: block; zoom: 1; }
.mod-cus-sel { border: 1px solid; border-color: #d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8; box-shadow: 2px 3px 3px #f6f8f9 inset; -moz-box-shadow: 2px 3px 3px #f6f8f9 inset; -webkit-box-shadow: 2px 3px 3px #f6f8f9 inset; height: 28px; float: left; cursor: pointer; background: transparent url(/Images/Blog/icon-down.png) no-repeat right center; margin-right: 10px; _width: 100px; }
    .mod-cus-sel:hover { border-color: #6699c9 #a1bbd3 #a1bbd3 #6699c9; box-shadow: 2px 3px 3px #d5e0e9 inset; -moz-box-shadow: 2px 3px 3px #d5e0e9 inset; -webkit-box-shadow: 2px 3px 3px #d5e0e9 inset; background: transparent url(/Images/Blog/icon-down-hover.png) no-repeat right center; }
.cus-sel-ie6-maxheight .cus-sel-opt-ctn { height: 300px; }
.cus-sel-opt-ctn { display: none; max-height: 300px; }
.setting-profile-table { _width: 100%; }
.cus-sel-active { position: relative; }
    .cus-sel-active .cus-sel-opt-ctn { background: #fff; display: block; position: absolute; top: 29px; left: -1px; width: 100%; overflow-x: hidden; overflow-y: auto; z-index: 100; border: solid #e5e5e5; border-width: 0 1px 1px 1px; }
    .cus-sel-active:hover .cus-sel-opt-ctn { border-color: #a1bbd3; }
.cus-sel-opt-txt, .cus-sel-opt-panel { padding: 0 25px 0 10px; line-height: 28px; user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; min-width: 65px; display: inline-block; _width: 65px; white-space: nowrap; }
.cus-sel-opt { white-space: nowrap; }
    .cus-sel-opt-selected, .cus-sel-opt:hover { background: #f7f7f7; }
.cus-sel-opt-txt, .cus-sel-opt-txt:link, .cus-sel-opt-txt:visited, .cus-sel-opt-txt:hover, .cus-sel-opt-txt:active { color: #666; }
.cus-sel-inactive { display: none; }
.mod-setting-profile { padding: 18px 20px; }
    .mod-setting-profile .setting-profile-title { font-size: 20px; color: #999; line-height: 1; padding-bottom: 11px; border-bottom: solid 2px #f2f2f2; }
.setting-proxy { display: none; width: 0; height: 0; }
.setting-profile-form { color: #666; font-size: 14px; margin-top: 15px; zoom: 1; }
    .setting-profile-form .mod-cus-sel { font-size: 12px; }
    .setting-profile-form tr { vertical-align: top; }
    .setting-profile-form th { text-align: right; font-weight: normal; padding: 14px 10px 0 0; width: 90px; }
    .setting-profile-form td { padding: 7px 0 8px; }
        .setting-profile-form td.line30 { line-height: 30px; }
.setting-submit-ml100 { margin: 13px 0 0 100px; }
.setting-profile-form .setting-profile-thead th { text-align: left; font-size: 12px; padding-top: 0; line-height: 30px; }
.setting-profile-form .pl10 { padding-left: 10px; }
.setting-profile-form .profile-gender { margin: 0 25px 0 3px; vertical-align: middle; }
.setting-profile-form .passport_character td { padding: 2px 0 3px; line-height: 22px; width: 425px; }
.setting-profile-form .passport_character th { padding-top: 7px; }
.setting-profile-form .passport_character span { width: 85px; float: left; }
.setting-profile-form .passport_character label { margin-left: 3px; vertical-align: middle; cursor: pointer; font-size: 12px; }
.setting-profile-form .passport_character input { vertical-align: middle; }
.setting-profile-list ul { line-height: 30px; font-size: 12px; }
.setting-profile-list .h30, .setting-profile-bg div, .setting-profile-thead li { float: left; height: 30px; }
.setting-profile-list .fl { float: left; }
.setting-profile-list .w85 { width: 85px; }
.setting-profile-list .w128 { width: 128px; }
.setting-profile-list .w138 { width: 138px; }
.setting-profile-list .w230 { width: 225px; padding-right: 5px; }
.setting-profile-list .w240 { width: 240px; }
.setting-profile-list .w410 { width: 410px; }
.setting-profile-list .w275 { width: 270px; padding-right: 5px; }
.setting-profile-list .w240 { width: 240px; }
.setting-profile-list .setting-submit-btn { margin-left: 8px; }
.limit_words_num { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.mod-setting-profile .setting-profile-bg { background: #f7f7f7; border-bottom: 10px solid #fff; }
.setting-profile-form .setting-profile-bg a { text-align: center; display: block; }
.mod-setting-profile .save-ok { margin: 14px 0 0 14px; }
.mod-setting-profile .setting-submit-btn { float: left; }
.setting-submit-btn { border: none; border: 1px solid #5c8ebf; border: 0 none\9; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#75abda, endColorstr=#6698c9); background: -webkit-linear-gradient(#75abda,#6698c9); background: -moz-linear-gradient(#75abda,#6698c9); font-size: 14px; width: 68px; height: 34px; line-height: 34px; color: #fff; text-align: center; cursor: pointer; }
    .setting-submit-btn:hover { border: 1px solid #4f85b9; border: 0 none\9; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#67a1d4, endColorstr=#5d91c3); background: -webkit-linear-gradient(#67a1d4,#5d91c3); background: -moz-linear-gradient(#67a1d4,#5d91c3); box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; -moz-box-shadow: 0 1px 3px #999; }
.setting-submit-text-loading { display: none; height: 20px; background: transparent url(../img/timeline_loading_841363d6.gif) no-repeat center center; }
.err-name .setting-submit-err-name, .err-lvl .setting-submit-err-lvl, .loading .setting-submit-text-loading { display: block; color: #d70040; }
.setting-submit-err-name, .setting-submit-err-lvl, .loading .setting-submit-btn { display: none; }
.setting-profile-form .loading .career-delete-btn { display: none; }
.setting-profile-form .cus-sel-error { border-color: #d70040; }
a:active, a:visited { border: none; outline: none; }
a:selected { border: none; outline: none; }
.mod-setting-tieba, .mod-setting-privacy { padding: 18px 20px; }
    .mod-setting-tieba .setting-tieba-title, .mod-setting-privacy .setting-privacy-title { font-size: 24px; color: #999; line-height: 1; padding-bottom: 11px; border-bottom: solid 2px #f2f2f2; }
    .mod-setting-tieba .show-tieba, .mod-setting-privacy .show-privacy { padding-top: 10px; }
        .mod-setting-tieba .show-tieba .show, .mod-setting-privacy .show-privacy .show { font-size: 14px; }
            .mod-setting-tieba .show-tieba .show span, .mod-setting-privacy .show-privacy .show span { font-size: 12px; color: #999; padding-left: 10px; line-height: 34px; }
    .mod-setting-tieba .tieba-list .item { float: left; padding: 2px 10px 2px 0; }
    .mod-setting-tieba .checkbox, .mod-setting-privacy .checkbox { margin: 3px 6px 3px 0; height: 13px; width: 13px; float: left; }
    .mod-setting-tieba .label, .mod-setting-privacy .label { vertical-align: middle; line-height: 19px; }
    .mod-setting-tieba .tieba-list .label { width: 120px; display: block; overflow: hidden; }
    .mod-setting-tieba .label.uncheck { color: #ccc; }
    .mod-setting-tieba .tieba-console, .mod-setting-privacy .privacy-console { margin-top: 20px; line-height: 33px; }
    .mod-setting-tieba .check-effect { color: #1f66ae; }
.setting-profile-career .cus-sel-opt-txt, .setting-profile-career .cus-sel-opt-panel { min-width: 55px; _width: 55px; }
.setting-profile-career .mod-cus-sel { margin-right: 5px; }
.setting-profile-career .mod-cus-sel { _width: 90px; }


.mod-nousername { padding: 20px 25px; }
    .mod-nousername .nousername-tips { font-size: 14px; }
.dialog-nousername { width: 460px; }
#nousername { margin-top: 5px; }
.pass_fillinusername_err { display: block; color: red; margin-top: 5px; }
    .pass_fillinusername_err span { color: #333; }
.pass_fillinusername_p_info { padding-left: 20px; background: url(/Images/Blog/tips_c93e592e.gif) no-repeat 0 0; line-height: 18px; margin: 6px 0; }
.pass_fillinusername_submit_input { margin-top: 5px; width: 73px; height: 27px; clear: both; background: url("/Images/Blog/uname_submit.png?v=25456394.png") no-repeat scroll 0 0 transparent; border: none; cursor: pointer; color: #FFF; font: bold 14px bold; padding-top: 2px; }
.pass_fillinusername_des { *margin-top: -10px; display: block; padding: 10px 0 0; color: #999; }
.pass_fillinusername_username_input { padding-left: 10px; padding-top: 2px; width: 260px; height: 22px; line-height: 20px; margin-right: 5px; vertical-align: middle; font-size: 14px; -webkit-box-shadow: 0 1px 3px rgba(0000.08) inset; -moz-box-shadow: 0 1px 3px rgba(0000.08) inset; -khtml-box-shadow: 0 1px 3px rgba(0000.08) inset; box-shadow: 0 1px 3px rgba(0000.08) inset; border: 1px solid #CCC; border-bottom: 1px solid #eaeaea; border-right: 1px solid #eaeaea; }
.pass_fillinusername_suggestusernameul { zoom: 1; margin-top: 5px; list-style: none outside none; padding: 0 0 0 1px; overflow: hidden; }
.pass_fillinusername_suggestusernameli { margin-bottom: 5px; list-style-type: none; cursor: default; float: left; clear: both; }
.pass_fillinusername_suggestuserlabel { vertical-align: middle; padding-left: 5px; }
.pass_fillinusername_suggestuserradio { vertical-align: middle; }
.mod-setting .setting-menu .menu-profile h3, .mod-setting .setting-menu .menu-profile-current h3, .mod-setting .setting-menu .menu-privacy h3, .mod-setting .setting-menu .menu-privacy-current h3, .mod-setting .button, .mod-setting .button:hover, .mod-setting .save-ok { background-image: url("/Images/Blog/setting_sprites.png"); }


