@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    公司管理
}
@section Header{
    <script src="/Res/My97DatePicker/WdatePicker.js"></script>
}
<style type="text/css">
    .datatable input { width: 99.4%; border: 1px solid #97b1c5; background-color: #ffffff; height: 23px; font-size: 12px; font: 12px/1.5 tahoma, arial, 宋体; overflow: hidden; }
    .datatable2 input { width: 100; border: 1px solid #97b1c5; background-color: #ffffff; height: 18px; font-size: 12px; font: 12px/1.5 tahoma, arial, 宋体; overflow: hidden; }
</style>

<div class="ManageBody">
    <form method="post" id="form1">
        <div>
            <div id="tabs" class="easyui-tabs" style="width: auto;">
                <div id="divDept" title="资源详细" style="height: 800px; overflow: hidden;">
                    <div class="Page-toolbar" style="border-right: 1px soild #eff;">
                        <a href="javascript:Submit()" style="float: left;" class="l-btn l-btn-plain">
                            <span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span>
                        </a><a href="javascript:fixAdd()" style="float: left;" class="l-btn l-btn-plain">
                            <span class="l-btn-left"><span class="l-btn-text icon-add" style="padding-left: 20px;">添加子资源</span></span>
                        </a>
                        <div class="datagrid-btn-separator">
                        </div>
                        <a href="javascript:fixDelete()" style="float: left;" class="l-btn l-btn-plain">
                            <span class="l-btn-left">
                                <span class="l-btn-text icon-cancel" style="padding-left: 20px;">
                                    删除
                                </span>
                            </span>
                        </a>
                    </div>
                    <table border="0" class="datatable" cellspacing="1" cellpadding="0">
                        <tbody>
                            <tr>
                                <th width="13%">
                                    <font color="red">*</font>上级节点：
                                </th>
                                <td width="22%">
                                    【<input id="ilblParentName" type="text" disabled="disabled" name="Reserve1" style="font-weight: bold;width:150px;" value="根节点">】

                                </td>
                                <th width="13%">
                                    <font color="red">*</font>资源类型：
                                </th>
                                <td width="22%">

                                    <select id="icboFuncType" name="FuncType" style="width: 100px;"
                                            panelheight="100">
                                        <option value="0">模块资源</option>
                                        <option value="-1">操作资源</option>
                                        <option value="1">系统资源</option>
                                    </select>
                                </td>
                                <th width="13%">
                                    公有资源：
                                </th>
                                <td width="22%">
                                    <select id="isltPublicLevel" name="PublicLevel" style="width: 100px;"
                                            panelheight="100">
                                        <option value="0">公有资源</option>
                                        <option value="1">内网资源</option>
                                        <option value="2">外网资源</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <th width="13%">
                                    资源名称：
                                </th>
                                <td width="22%">
                                    <input name="FuncName" type="text" id="itxtFuncName" class="easyui-validatebox" data-options="required:true" />
                                </td>
                                <th width="13%">
                                    资源常量：
                                </th>
                                <td width="22%">
                                    <input name="FuncKey" type="text" id="itxtFuncKey" class="easyui-validatebox" data-options="required:true" />
                                </td>

                                <th width="13%">
                                    排序：
                                </th>
                                <td width="22%">
                                    <input name="FuncSort" type="text" id="itxtFuncSort" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    客户端样式:
                                </th>
                                <td>
                                    <input name="FuncStyle" type="text" id="itxtFuncStyle" />
                                </td>
                                <th>
                                    资源图标:
                                </th>
                                <td>
                                    <span class="combo">
                                        <input id="itxtIconPath" name="IconPath" type="text" class="combo-text" style="width: 200px;" value="icon-page" />
                                        @*<img style="height: 16px; margin-top: 4px;" src="/Images/Public/icon-filter.png"
                                            onclick="uploadIcon()" title="上传图标" alt="上传图标" />*@
                                    </span>
                                </td>
                                <td colspan="2" rowspan="2"></td>
                            </tr>
                            <tr>
                                <th>
                                    过期设置：
                                </th>
                                <td>
                                    <input id="ickStatus" name="Status" checked="checked" style="width: 15px; vertical-align: middle;"
                                           type="radio" value="1" />永不过期
                                    <input id="ickStatus2" name="Status" style="width: 15px; vertical-align: middle;"
                                           type="radio" value="0" />期限限制

                                </td>
                                <th width="13%">
                                    限制时间段：
                                </th>
                                <td>
                                    <input id="itxtStartTime" name="StartTime" type="text" style="width: 45%;" onclick="WdatePicker()" class="Wdate" /><span style="width: 12%">至</span><input id="itxtEndTime" name="EndTime" style="width: 45%" type="text" onclick="WdatePicker()"
                                                                                                                                                                                               class="Wdate" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="6">
                                    <div id="ResBase">
                                        <table border="0" class="datatable" cellspacing="1" cellpadding="0">
                                            <tr>
                                                <th width="13%">
                                                    <span>资源地址(Url)</span>
                                                </th>
                                                <td>
                                                    <input id="txt_Source" name="Source" type="text" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="ResColumn" style="display:none">
                                        <table border="0" class="datatable2" cellspacing="1" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <table id="flexigridData"></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table id="flexigridDynamic"></table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th width="13%">
                                    备注：
                                </th>
                                <td colspan="5">
                                    <textarea name="Remark" rows="5" cols="20" style="width: 99.5%; height: 50px" id="itxtRemark"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div title="关联权限" style="overflow: hidden;">
                    <iframe frameborder="0" id="IframeContact" src="about:blank" style="width: 100%; height: 100%;
            "
                            scrolling="no"></iframe>
                </div>

            </div>
        </div>
    </form>
</div>
<div id="DialoOperate" style="height: 0px;" title="操作">
    <iframe id="iframepage" width="98%" height="98%" style="border: none; overflow: hidden;"
            scrolling="no" frameborder="0" src="about:blank"></iframe>
</div>
<script>
    var _id = '@Request.QueryString["id"]';
    var _pid = "-1";
    $(function () {
        if (_id != "" && _id != "-1") {
            $.ajax({
                type: "get", dataType: "json",
                url: "/System/AjaxGetFunctionDetail?id=" + _id,
                success: function (data) {
                    if (data) {
                        $("#form1").form("reset");
                        $("#form1").form("load", data);
                        if (data.Status == 1)
                            $('#ickStatus').attr("checked", true);
                        _pid = data.FuncPID;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    TopNotify(errorThrown, 'error');
                }
            });
        }

        var oFrm = $("#IframeContact");
        oFrm.css('height', $(document).height() - 60);
        $('#tabs').tabs({
            onSelect: function (title) {
                if (title == "关联权限") {
                    var oFrm = document.getElementById("IframeContact");
                    oFrm.src = '/system/LimitOrgContact?id=' + _id;
                }
            }
        });
    });
    function Submit() {
        if ($("#form1").form("validate")) {
            $.ajax({
                cache: true,
                type: "POST",
                url: '/System/AjaxSaveFunction?id=' + _id + "&pid=" + _pid,
                data: $('#form1').serialize(),
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    TopNotify(errorThrown, 'error');
                },
                success: function (data) {
                    if (data.result == "true") {
                        TopNotify("保存成功", 'info');
                        _id = data.id;
                        parent.SycnNode(_id, _pid, $("#itxtFuncName").val());
                    }
                }
            });
        }
    }
    function fixDelete() {
        $.messager.confirm("确认提示框", "确认删除这条吗？", function (r) {
            if (r) {
                $.post('/System/AjaxDeleteFunction?id=' + _id, function (res) {
                    if (res == "true") {
                        $("#form1").form("reset");
                        parent.AsynRemoveNode(_id);
                        _id = "";
                        TopNotify("数据已删除", 'info');
                    }
                    else {
                        TopNotify(res, 'error');
                    }
                });
            }
        });
    }
    function fixAdd() {
        var pname = $("#ilblParentName").val();
        $("#form1").form("reset");
        $("#ilblParentName").val(pname);
        _pid = _id;
        _id = "";

    }

</script>
