@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    角色管理
}
@section Header{

}

<body style="width: 100%; height: 99%" class="easyui-layout" fit="true">
    <div region="west" icon="icon-reload" title="所有系统/功能/资源" split="true" style="width: 250px;overflow:auto">
        <div class="Page-toolbar" style="margin-bottom:10px;">
            <a href="javascript:  ChangePid()" style="float: left;" class="l-btn l-btn-plain">
                <span class="l-btn-text icon-lock" style="padding-left: 20px;" id="ibtnsave">启用拖拽</span>
            </a>
        </div>
        <ul id="ilimitmodule"></ul>

    </div>
    <div id="divQuery" region="center" style="height: auto; overflow-x: hidden;">
        <iframe id="iframecenter" scrolling="auto" name="UserLimit" frameborder="0" src="about:blank" style="width: 100%; height: 100%;
            "></iframe>
    </div>
    <div id="DialoOperate" style="height: 0px;" title="操作">
        <iframe id="iframepage" width="98%" height="98%" style="border: none; overflow: hidden;"
                scrolling="no" frameborder="0" src="about:blank"></iframe>
    </div>
</body>

<script type="text/javascript">
    var tiped = false;
    var sysloaded = false;
    var pageloaded = false;
    var ploaded = false;
    var mNode;
    $(function () {
        LoadFuncTree();
    });

    function LoadFuncTree(expandid) {
        $('#ilimitmodule').tree({
            checkbox: false,
            lines: true,
            parentField: "pid",
            textFiled: "text",
            idFiled: "id",
            dnd: false,
            cascadeCheck: false,
            url: '/system/ajaxgetlimitdata',
            onClick: function (node) {
                if (null != node && node != "undefined") {
                    var oFrm = document.getElementById("iframecenter");
                    oFrm.src = '/system/limitorgmanag?id=' + node.id + "&pid=" + node.pid;

                }
            },
            onBeforeExpand: function (node, param) {
                $('#ilimitmodule').tree('options').url = "/system/ajaxgetlimitdata?id=" + node.id;
            },
            onLoadSuccess: function () {
                //$('#ilimitmodule').tree('disableDnd');
            }, onDrop: function (target, source, point) {
                var currentnode = $('#ilimitmodule').tree('getNode', target);
                if (point == 'append' && currentnode.id == source.pid) {
                    var node2 = $('#ilimitmodule').tree('find', source.id);
                    $('#ilimitmodule').tree('select', node2.target);
                    $('#ilimitmodule').tree('update', {
                        target: node2.target,
                        text: node2.text
                    });
                    return false;
                }
                else if (currentnode.id == source.pid && (point == 'top' || point == 'bottom')) {
                    //$('[node-id="' + source.id + '"]').find('.tree-title').css('color', 'black');
                    //source.attributes.price = null;
                    var node2 = $('#ilimitmodule').tree('find', source.id);
                    $('#ilimitmodule').tree('select', node2.target);
                    $('#ilimitmodule').tree('update', {
                        target: node2.target,
                        text:  node2.text
                    });
                    return false;
                }
                var node2 = $('#ilimitmodule').tree('find', source.id);
                $('#ilimitmodule').tree('select', node2.target);
                $('#ilimitmodule').tree('update', {
                    target: node2.target,
                    text: "<span class='cRed' data-id='" + node2 .id+ "'>" + node2.text + "</span>"
                });

                $('#ilimitmodule').tree('enableDnd');
                
            }, onBeforeDrop: function (target, source, point) {
                var currentnode = $('#ilimitmodule').tree('getNode', target);
                if (currentnode.id == 'root' || currentnode.pid == 'root') {
                    TopNotify('不被允许的操作', "info");
                    return false;
                }
            }
        });
    }

    function createFrame(url) {
        var s = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:100%;overflow-y: auto;"></iframe>';
        return s;
    }

    function InitLoadState() {
        sysloaded = false;
        pageloaded = false;
        ploaded = false;
    };
    function AsynNode(id) {
        var snode = $('#ilimitmodule').tree('find', id);
        if (snode) {
            var child = $('#ilimitmodule').tree('getChildren', snode.target);
            if (child.length > 0) {
                $('#ilimitmodule').tree('options').url = "/system/ajaxgetlimitdata?id=" + snode.id;
                $('#ilimitmodule').tree('reload', snode.target);
            } else {
                $('#ilimitmodule').tree('append', {
                    parent: snode.target,
                    data: [{
                        text: 'new1',
                        checked: true
                    }]
                });
                $('#ilimitmodule').tree('options').url = "/system/ajaxgetlimitdata?id=" + snode.id;
                $('#ilimitmodule').tree('reload', snode.target);
            }
            mNode = snode; //[刷新的节点]
        } else {
            $('#ilimitmodule').tree('reload');
        }
        debugger;
    }
    function AsynParentNode(id) {
        var snode = $('#ilimitmodule').tree('find', id);
        if (snode) {
            var parentNode = $('#ilimitmodule').tree('getParent', snode.target)
            if (parentNode) {
                $('#ilimitmodule').tree('options').url = "/system/ajaxgetlimitdata?id=" + parentNode.id;
                $('#ilimitmodule').tree('reload', parentNode.target);
                mNode = parentNode;
            } else {
                $('#ilimitmodule').tree('reload');
                mNode = null;
            }
        } else {
            $('#ilimitmodule').tree('reload');
            mNode = null;
        }
    }
    function AsynRemoveNode(id) {
        var snode = $('#ilimitmodule').tree('find', id);
        $('#ilimitmodule').tree('remove', snode.target)
    }
    function SycnNode(id,pid,text) {
        var snode = $('#ilimitmodule').tree('find', id);
        if (snode) {
            $.ajaxSetup({ cache: false });
            $.ajax({
                type: "get", dataType: "json",
                url: "/system/ajaxgetfunctiondetail?id=" + id,
                async: true,
                success: function (data) {
                    snode.text = data.FuncName;
                    $('#ilimitmodule').tree('update', snode);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    TopNotify(errorThrown.message, "error");
                }
            });
        }
        else {
            var pnode = $('#ilimitmodule').tree('find', pid);
            $('#ilimitmodule').tree('append', {
                parent: pnode.target,
                data: [{
                    id: id,
                    pid:pid,
                    text: text,
                    iconCls:'icon-add'
                }]
            });
        }
    }

    //删除的按钮
    function flexiDelete() {
        var selected = $('#flexigridData').datagrid('getSelected');
        if (null == selected && parent == "undefined" && selected.length < 1) {
            TopNotify('请选择数据', "info");
            return;
        }
        if (!confirm("确认删除这 " + 1 + " 项吗？"))
            return;
        $.post("HXGoalOperate.ashx?ac=itemDel", { query: selected.ID }, function (res) {
            if (res == "ok") {
                $("#flexigridData").datagrid('reload');
            }
            else {
                TopNotify('删除失败', "error");
            }
        });
    };
    //“查询”按钮，弹出查询框
    function flexiQuery() {
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            search = search + this.id + "&" + this.value + "^";
        });
        var query = { query: search };
        $("#flexigridData").datagrid('options').queryParams = query;
        $("#flexigridData").datagrid('options').pageNumber = 1;
        $("#flexigridData").datagrid('reload');
        var p = $('#flexigridData').datagrid('getPager');
        p.pagination({ pageNumber: 1 });
    };
    function OpenWindow(title, srcurl) {
        $('#DialoOperate').dialog({
            width: 860,   //查询弹框的宽度
            height: 455,
            title: title,
            modal: true,
            shadow: false,
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: function () {
                    var oFrm = document.getElementById("iframepage");
                    oFrm.contentWindow.BtnSaveOrUpdate()
                }
            },
                 {
                     text: '取消',
                     iconCls: 'icon-cancel',
                     handler: function () {
                         DialogClose();
                     }
                 }]
        });
        $('#DialoOperate').dialog("open");
        var oFrm = document.getElementById("iframepage");
        oFrm.src = srcurl;

    }
    function OpenSimpleWindow(title, srcurl) {
        $('#DialoOperate').dialog({
            width: 860,   //查询弹框的宽度
            height: 455,
            title: title,
            modal: true,
            shadow: false,
            buttons: [
                 {
                     text: '取消',
                     iconCls: 'icon-cancel',
                     handler: function () {
                         DialogClose();
                     }
                 }]
        });
        $('#DialoOperate').dialog("open");
        var oFrm = document.getElementById("iframepage");
        oFrm.src = srcurl;
    }
    function DialogClose(data) {
        $('#DialoOperate').dialog("close");
        $("#flexigridData").datagrid('reload');
        var oFrm = document.getElementById("iframepage");
        oFrm.src = "about:blank";
    };

    var Isdnd = false;
    //
    function ChangePid(obj) {
        if (!Isdnd) {
            $("#ibtnsave").html('保存');
            $('#ilimitmodule').tree('enableDnd');
            $('#ilimitmodule').tree('options').dnd = true;
            TopNotify('您已开启拖拽功能', 'info');
            Isdnd = true;
            return;
        }
        else {
            $("#ibtnsave").html('启用拖拽');
            $('#ilimitmodule').tree('disableDnd');
            $('#ilimitmodule').tree('options').dnd = false;
            Isdnd = false;
        }

        var array = [];
        var arr = $('span[data-id]');
        if (arr.length == 0) {
            TopNotify('没有改变项目', 'info');
            return;
        }
   
        for (var i = 0; i < arr.length; i++) {
            var node = $('#ilimitmodule').tree('find', $(arr[i]).data("id"));
            var p = $('#ilimitmodule').tree('getParent', node.target);
            array.push({ 'id': node.id, 'pid': p.id });
        }
        debugger;
        $.post('/system/AjaxFunctionParentChange', { ids: JSON.stringify(array) },
        function (res) {
            //alert(res + ',您已关闭拖拽功能');
            TopNotify('您已关闭拖拽功能', 'info');
            $('span[data-id]').removeAttr("data-id").removeClass("cRed");
            var oFrm = document.getElementById("iframecenter");
            oFrm.src = '/system/limitorgmanag?id=' + node.id + "&pid=" + node.pid;

        }, 'html');
    }
</script>
