@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    角色管理
}
@section Styles{
    <link href="/res/autocomplete/autocomplete.css" rel="stylesheet" type="text/css" />
}
@section Header{
    <script src="/res/autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
}

<div class="ManageBody">
    <fieldset class="ManageSearch">
        <legend>查询条件</legend>
        <table>
            <tr>
                <td>
                    <label class="control-label" style="margin-left:10px;">角色名称：</label>
                    <input id="txtSearch" class="form-control" style="width: 175px" type="text" placeholder="输入关键字进行搜索" />

                </td>
                <td>
                    <button id="btnSearch" class='btn btn-default'>
                        查询
                    </button>
                </td>
            </tr>
        </table>
    </fieldset>
    <div class="ManageList">
        <table id="iGridData"></table>

    </div>
    <div id="iGridMenu" class="easyui-menu" style="width:150px;">
        <div id="m-add" data-options="iconCls:'icon-add'">新增</div>
        <div class="menu-sep"></div>
        <div id="m-edit" data-options="iconCls:'icon-edit'">编辑</div>
        <div id="m-delete" data-options="iconCls:'icon-remove'">删除</div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(queryClick);
        $("#m-add").click(fixAdd);
        $("#m-edit").click(fixMenuEdit);
        $("#m-delete").click(fixMenuDel);
        var toolbarnode = [
            {
                text: '添加', iconCls: 'icon-add', iconAlign: 'top', handler: fixAdd
            }, '-', {
                text: '删除', iconCls: 'icon-remove', iconAlign: 'top', handler: fixMenuEdit
            }, '-'
        ]
        $('#iGridData').datagrid({
            width: $(document).width() - 20,
            height: $(document).height() - 95,
            fitColumns: false,
            striped: true,
            nowrap: false,
            showFooter: true,
            url: "./AjaxQueryRolePageList", method: 'get',
            collapsible: false,
            remoteSort: false,
            showFooter: true,
            singleSelect: false,
            pagination: true,
            rownumbers: true,
            pageSize: 10,
            columns: [[
                { field: 'ck', checkbox: true },
                { field: 'RoleID', title: '操作', width: 80, align: 'center', sortable: true, formatter: formatterActions },
                { field: 'RoleName', width: 220, title: '角色名称', sortable: true },
                { field: 'RoleDescription', width: 320, title: '角色描述', sortable: true }
            ]],
            toolbar: toolbarnode,
            onRowContextMenu: function (e, rowIndex, rowData) {
                e.preventDefault();
                $("#iGridData").datagrid("selectRow", rowIndex);
                $('#iGridMenu').menu('show', { left: e.pageX, top: e.pageY })
            }
        });
        var options = { serviceUrl: './AjaxSearchRole' };
        searchobj = $('#txtSearch').autocomplete(options);
    });
    function formatterActions(val, row, index) {
        var btn = '<a href="javascript:fixEdit(\'' + val + '\')" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-text icon-edit" style="width:20px;height:20px"></span></a><a href="javascript:fixDel(\'' + val + '\')" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-text icon-remove" style="width:20px;height:20px"></span></a>';
        return btn;
    }

    function fixAdd() {
        openWindow('新增', "./rolemanage", { width: 600, height: 450 }, RolewindowClose)
    };
    function RolewindowClose() {
        var myopenwindow = $('div.myopenwindow').last().parent();
        myopenwindow.next("div").remove();
        myopenwindow.remove();
        $("#iGridData").datagrid('load', getQueryParam());
    }
    function fixDel(id) {
        if (!confirm("确认删除这条吗？"))
            return;
        $.post('./AjaxDeleteRole', { ids: "'" + id + "'" }, function (res) {
            if (res == "true") {
                $("#iGridData").datagrid('reload')
                TopNotify("数据已删除", 'info');
            }
            else {
                TopNotify(res, 'error');
            }
        });
    }
    function fixMenuDel() {
        var selected = $('#iGridData').datagrid('getChecked');
        if (null == selected || selected.length < 1) {
            TopNotify("请选择数据", 'info');
            return;
        }
        if (!confirm("确认删除这 " + selected.length + " 条吗？"))
            return;
        var ls = $.map(selected, function (a) { return "'" + a.RoleID + "'"; }).toString();
        $.post('./AjaxDeleteRole', { ids: ls }, function (res) {
            if (res == "true") {
                $("#iGridData").datagrid('reload')
                TopNotify("数据已删除", 'info');
            }
            else {
                TopNotify(res, 'error');
            }
        });
    };

    function fixMenuEdit() {
        var selected = $('#iGridData').datagrid('getSelected');
        if (null == selected || selected.length < 1) {
            TopNotify("请选择数据", 'info');
            return;
        }
        fixEdit(selected.RoleID);
    };
    function fixEdit(id) {
        if (!id) {
            var selected = $('#iGridData').datagrid('getSelected');
            if (null == selected || selected.length < 1) {
                TopNotify("请选择数据", 'info');
                return;
            }
            id = selected.RoleID;
        }
        openWindow('修改', "./rolemanage?id=" + id, { width: 600, height: 450 })
    };
    function fixView() {
        var selected = $('#iGridData').datagrid('getSelected');
        if (null == selected || selected.length < 1) {
            TopNotify("请选择数据", 'info');
            return;
        }
        openSimpleWindow('查看', "./rolemanage?id=" + selected.RoleID, { width: 600, height: 450 })
    };

    function queryClick() {
        $("#iGridData").datagrid('load', getQueryParam());
    };

    function getQueryParam() {
        var query = { name: $("#txtSearch").val() };
        return query;
    };


</script>
