@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    角色管理
}
@section Header{
}
<div style="width: 100%; height: 99%" class="easyui-layout" fit="true">
    <div region="west" icon="icon-reload" title="角色属性" split="true" style="width: 280px;overflow:auto">
        <form id="form1" action="/" method="post">
            <table class="datatable">
                <tr>
                    <th>
                        角色名称：
                    </th>
                    <td>
                        <input name="RoleName" type="text" class="easyui-textbox" style="width: 200px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        角色描述：
                    </th>
                    <td>
                        <input name="RoleDescription" type="text" class="easyui-textbox" data-options="multiline:true" style="width:200px;height:200px" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
    <div id="divQuery" region="center" style="height: auto; overflow: auto;">
        <div class="Page-toolbar" style="border-right: 1px soild #eff;">角色权限<input title="" type="checkbox" onclick="treeChecked(this, 'ilimitmodule')" />全选/反选</div>
        <ul id="ilimitmodule"></ul>
    </div>
</div>


<script type="text/javascript">
    var _id = '@Request["infoid"]';
    $(function () {
        //启用快捷键 83/ALT+s保存
        $(window).ApplyQuickKey(83, BtnSaveOrUpdate);
        //启用快捷键 83/ALT+c关闭
        $(window).ApplyQuickKey(67, parent.windowClose);
        if (_id != "") {
            $.ajax({
                type: "get", dataType: "json",
                url: "./AjaxGetRoleDetail?rad=" + new Date().toString(),
                async: false,
                data: { id: _id },
                success: function (data) {
                    $("#form1").form("reset");
                    $("#form1").form("load", data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                }
            });
        }

        $('#ilimitmodule').tree({
            checkbox: true,
            lines: true,
            parentField: "pid",
            textFiled: "text",
            idFiled: "id",
            dnd: false,
            cascadeCheck: false,
            url: './AjaxGetAllFunctionData?rid=' + _id,
            onBeforeExpand: function (node, param) {
                $('#ilimitmodule').tree('options').url = "./AjaxGetAllFunctionData?id=" + node.id + "&rid=" + _id;
            }
        });
    });
    function treeChecked(selected, treeMenu) {
        var roots = $('#' + treeMenu).tree('getRoots');//返回tree的所有根节点数组
        if (selected.checked) {
            $('#' + treeMenu + " .tree-checkbox").addClass("tree-checkbox1");
        } else {
            $('#' + treeMenu + " .tree-checkbox").removeClass("tree-checkbox1").addClass("tree-checkbox0");
        }
    }
    function BtnSaveOrUpdate() {

        if ($("#form1").form("validate")) {
            var actionids = new Array();
            var nodes = $('#ilimitmodule').tree('getChecked');
            var s = '';
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].id != '')
                    actionids.push(nodes[i].id)

            }
            $.ajax({
                cache: true,
                type: "POST",
                dataType: "html",
                url: './AjaxSaveRole?id=' + _id + "&" + $('#form1').serialize(),
                data: { limitIds: JSON.stringify(actionids) },
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                },
                success: function (data) {
                    if (data == "true") {
                        parent.TopNotify("保存成功", 'info');
                        parent.windowClose();
                    }
                }
            });
        }
    }
</script>
