@model IEnumerable<ET.Sys_DEF.BlogRollInfo>
@*@ 作用：右侧"友情链接"栏目
        作者：West
        时间2015-05-02
    @*@
<div class="widget widget_links">
    <div class="title"><h2>友情链接</h2></div>
    <ul class="xoxo blogroll">
        @foreach (ET.Sys_DEF.BlogRollInfo item in Model)
        {
            <li><a href="@item.RollUrl" target="_blank">@item.RollName</a></li>
        }
    </ul>
</div>