@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBlogMobile.cshtml";
}

<div id="header" class="head">
    <div class="wrap">
        <i class="menu_back"><a href="http://www.uehtml.com/"></a></i>
        <div class="title">
            <span class="title_d"><p>亿沛音响</p></span>
            <div class="clear"></div>
        </div>
        <i class="menu_share"></i>
    </div>
</div>

<div id="container">
    <div id="content">
        <div class="content_header">
            <div class="pd10">
                <div class="fl author"><a href="http://a565451.uehtml.com/"><img src="./亿沛音响_files/100"></a></div>
                <div class="header_info">
                    <div class="header_more fl">
                        <h4>烽烟</h4>
                        <dl>
                            <dt></dt>
                            <dd>其他 其他</dd>
                            <div class="clear"></div>
                        </dl>
                        <div class="clear"></div>
                    </div>
                    <div data-uid="3411" class="fr"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="works">
            <div class="pd5">

                <div class="list_info_i" style="margin-top:5px;">
                    <dl class="list_info_views">
                        <dt></dt>
                        <dd>638</dd>
                        <div class="clear"></div>
                    </dl>
                    <dl class="list_info_comment">
                        <dt></dt>
                        <dd>0</dd>
                        <div class="clear"></div>
                    </dl>
                    <dl class="list_info_like">
                        <dt></dt>
                        <dd>0</dd>
                        <div class="clear"></div>
                    </dl>
                    <dl class="works_view">
                        <dt></dt>
                        <dd>1月前</dd>
                        <div class="clear"></div>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="works">
                    <a href="http://cdn.uehtml.com/201505/1431415837672.jpg" target="_blank"><img vsrc="http://cdn.uehtml.com/201505/1431415837672_800x0.jpg" border="0" width="800" height="247.225" src="./亿沛音响_files/1431415837672_800x0.jpg"></a>
                </div>
                <div class="works">
                    <a href="http://cdn.uehtml.com/201505/1431415853635.jpg" target="_blank"><img vsrc="http://cdn.uehtml.com/201505/1431415853635_800x0.jpg" border="0" width="800" height="1515.9" src="./亿沛音响_files/1431415853635_800x0.jpg"></a>
                </div>

                <div class="works_info">
                    <div class="pd10"></div>
                </div>
                <div class="clear"></div>

            </div>
        </div>
        <div id="more_about">
            <h4>TA的原创</h4>
            <div class="more_about">
                <table width="100%" border="0" cellspacing="5">
                    <tbody>
                        <tr>
                            <td><a target="_blank" href="http://www.uehtml.com/post/29743/"><img src="./亿沛音响_files/1435718980370_280x180.jpg"></a></td>
                            <td><a target="_blank" href="http://www.uehtml.com/post/27662/"><img src="./亿沛音响_files/1431415741331_280x180.jpg"></a></td>
                            <td><a target="_blank" href="http://www.uehtml.com/post/27661/"><img src="./亿沛音响_files/1431415414406_280x180.jpg"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="comment">
            <div class="comment_other">
                <h4>全部评论: 0条</h4>
            </div>
            <ul></ul>
            <div class="pd5">
            </div>
        </div>
    </div>
</div>



<div id="us_panel_menu">
    <div class="us_panel_msk"></div>
    <div class="us_panel_menu_t">
        <table width="100%" cellspacing="0">
            <tbody>
                <tr>
                    <td class="us_panel_menu_index">
                        <a href="http://www.uehtml.com/"><i></i><span>首页</span></a>
                    </td>
                    <td class="us_panel_menu_designer">
                        <a href="http://www.uehtml.com/designers?sort=rec"><i></i><span>设计师</span></a>
                    </td>
                    <td class="us_panel_menu_help">
                        <a href="http://www.uehtml.com/list/bangmang/"><i></i><span>帮帮忙</span></a>
                    </td>
                    <td class="us_panel_menu_about">
                        <a href="http://www.uehtml.com/about"><i></i><span>关于</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="us_panel2">
    <table width="100%" height="100%" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td class="us_panel_like"><i></i><span>喜欢(<em>0</em>)</span></td>
                <td class="us_panel_menu"><div class="arrow_top"></div><i></i><div class="us_panel_menu_left"></div><div class="us_panel_menu_right"></div></td>
                <td class="us_panel_post"><i></i><span>评论(<em>0</em>)</span></td>
            </tr>
        </tbody>
    </table>
</div>
