@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    信息管理
}
@section Header{

}
<div class="ManageBody">
    <div class="ManageOperateTitle">
       信息管理
    </div>
    <div class="ManageOperate">
        <form id="form1"  action="/" method="post">
            <table class="datatable">
               
                <tr>
                    <th>
                        信息标题：
                    </th>
                    <td>
                        <input name="NewTitle" type="text" class="easyui-textbox" data-options="required:true" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        信息来源：
                    </th>
                    <td>
                        <input name="NewSource" type="text" class="easyui-textbox" data-options="required:true" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        内容：
                    </th>
                    <td>
                        <textarea name="NewContent" id="NewContent" style="height:320px;width:100%;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        状态操作：
                    </th>
                    <td>
                        是否启用<input name="Status" type="checkbox" id="ickStatus" checked="checked" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script src="/res/editor/editor.js" type="text/javascript"></script>
<script type="text/javascript">
    var _id = '@Request["infoid"]';
    $(function () {
        //启用快捷键 83/ALT+s保存
        $(window).ApplyQuickKey(83, BtnSaveOrUpdate);
        //启用快捷键 83/ALT+c关闭
        $(window).ApplyQuickKey(67, parent.windowClose);
        $('#NewContent').editor({ tools: 'full' });
        if (_id != "") {
            $.ajax({
                type: "get", dataType: "json",
                url: "./AjaxGetNewDetail",
                async: true,
                data: { infoid: _id },
                success: function (data) {
                    $("#form1").form("reset");
                    $("#form1").form("load", data);
                    if (data.Status == 1)
                        $('#ickStatus').attr("checked", true);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    TopNotify(errorThrown, 'error');
                }
            });
        }
    });
    function BtnSaveOrUpdate() {
        if ($("#form1").form("validate")) {
            $.ajax({
                cache: true,
                type: "POST",
                url: './AjaxSaveNew?infoid=' + _id,
                data: $('#form1').serialize(),
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                },
                success: function (data) {
                    if (data == "true") {
                        parent.TopNotify("保存成功", 'info');
                        parent.windowClose();
                    }
                }
            });
        }
    }
</script>