<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Smtp>mail.etmanage.com</Smtp>
    <Port>25</Port>
    <User>office@etmanage.com</User>
    <Password>etmanage_2015</Password> 
  <MailTo>liuzongwei@etmanage.com,zhaozhenyang@etmanage.com</MailTo>  
  <IsHtml>true</IsHtml>
  <EnAble>false</EnAble>
  <Content>
    <MailItem>
      <Id>1</Id>
      <Subject>aa</Subject>
      <Body>bb</Body>
    </MailItem>
    <MailItem>
      <Id>2</Id>
      <Subject>cc</Subject>
      <Body>dd</Body>
    </MailItem>
    <MailItem>
      <Id>3</Id>
      <Subject>ee</Subject>
      <Body>ff</Body>
    </MailItem>
  </Content>
</EmailConfigInfo>