@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    博客文章列表
}
@section Header{
    <script src="/Scripts/Blog/editor.js"></script>
    <link href="/Res/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
    <script src="/Res/uploadify/jquery.uploadify-3.1.min.js" type="text/javascript"></script>
}
<div style="width: 100%; height: 99%" class="easyui-layout" fit="true">
    <form id="form1" action="/" method="post">
        <div region="west" icon="icon-reload" title="博客文章管理" split="true" style="width: 350px;overflow:auto">
            <table class="datatable">
                <tr>
                    <th>
                        类别：
                    </th>
                    <td>
                        <select name="TypeID" id="sltType_id" class="easyui-combotree" style="width:200px;"
                                data-options="required:true,url:'/mBlog/AjaxGetTypeSelectData'"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        标题：
                    </th>
                    <td>
                        <input name="ArticleTitle" type="text" class="easyui-textbox" maxlength="50" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        链接：
                    </th>
                    <td>
                        <input name="ArticleUrl" type="text" class="easyui-textbox" maxlength="500" />
                    </td>
                </tr>
                <tr>
                    <th>
                        封面：
                    </th>
                    <td>
                        <input type="file" id="file_upload" /><span class="cRed">小图(200*100)为第一张,大图为第二张(830*300)</span>
                        <div class="uploadify-picbox"></div>
                    </td>
                </tr>
                <tr>
                    <th>
                        来源：
                    </th>
                    <td>
                        <input name="ArticleSource" type="text" class="easyui-textbox" maxlength="200" />
                    </td>
                </tr>
                <tr>
                    <th>
                        作者：
                    </th>
                    <td>
                        <input name="ArticleAuthor" type="text" class="easyui-textbox" maxlength="200" />
                    </td>
                </tr>
                <tr>
                    <th>
                        操作：
                    </th>
                    <td>
                        启用<input name="Status" type="checkbox" id="ickStatus" checked="checked" />&nbsp;&nbsp;推荐<input name="Recommend" type="checkbox" id="ickRecommend" />&nbsp;&nbsp;图片滚动<input name="IsRoll" type="checkbox" id="ickIsRoll" />&nbsp;&nbsp;外部链接<input name="IsOutLink" type="checkbox" id="ickIsOutLink" />
                    </td>
                </tr>
                <tr>
                    <th>
                        标签：
                    </th>
                    <td>
                        <input name="ArticleLabel" type="text" class="easyui-textbox" data-options="required:true" maxlength="200" /><br /><span class="cRed">使用英文符,隔开</span>
                    </td>
                </tr>

                <tr>
                    <th>
                        描述：
                    </th>
                    <td>
                        <textarea name="ArticleDescription" cols="30" rows="10" maxlength="500"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div id="divQuery" region="center" style="height: auto; overflow: auto;">

            <table class="datatable">
                <tr>
                    <th>
                        文章内容：
                    </th>
                </tr>
                <tr>
                    <td>
                        <textarea name="ArticleContent" id="ArticleContent" style="height:320px;width:100%;"></textarea>
                    </td>
                </tr>
            </table>

        </div>
    </form>


</div>
<style type="text/css">
    .uploadify-itemdel { position: absolute; top: 0; right: 0; background: url("/Images/Public/icon-clear.png") no-repeat white; cursor: pointer; text-indent: -99999px; margin-left: 20px; height: 20px; }
        .uploadify-itemdel:hover { background-color: #ccc; }
    .uploadify-picbox { padding: 5px; border: 1px solid #ccc; height: 100px; overflow: auto; }
        .uploadify-picbox li { float: left; display: block; width: 100px; height: 80px; padding: 2px; border: 1px solid #ccc; margin: 5px; }
    .relative { position: relative; }
</style>

<script type="text/javascript">
    var _id = '@Request["infoid"]';
    $(function () {
        //启用快捷键 83/ALT+s保存
        $(window).ApplyQuickKey(83, BtnSaveOrUpdate);
        //启用快捷键 83/ALT+c关闭
        $(window).ApplyQuickKey(67, parent.windowClose);
        $('#ArticleContent').editor({ tools: 'full' });
        if (_id != "") {
            $.ajax({
                type: "get", dataType: "json",
                url: "/mblog/ajaxgetarticledetail?rad=" + new Date().toGMTString(),
                async: true,
                data: { infoid: _id },
                success: function (data) {
                    $("#form1").form("reset");
                    $("#form1").form("load", data);
                    if (data.Status == 1)
                        $('#ickStatus').attr("checked", true);
                    if (data.Recommend == 1)
                        $('#ickRecommend').attr("checked", true);
                    if (data.IsRoll == 1)
                        $('#ickIsRoll').attr("checked", true);
                    if (data.IsOutLink == 1)
                        $('#ickIsOutLink').attr("checked", true);
                    

                    $('#ArticleContent').html(data.ArticleContent);
                    if (data.ArticleCover) {
                        var arrpics = data.ArticleCover.split(',');
                        for (var i = 0; i < arrpics.length; i++) {
                            var html = "<li><div class='relative'> <img src=" + arrpics[i] + "  width='100px' height='80px' class='uploadify-preimgs'/><span class='uploadify-itemdel' >删除</span></div></li>";
                            $(".uploadify-picbox").append(html);
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                }
            });
        }
        $('#file_upload').uploadify({
            'buttonText': '请选择上传文件',
            'swf': '/Res/uploadify/uploadify.swf',
            'uploader': '/mblog/upload',
            'sizeLimit ': '10240000',
            'method': "post",
            'onUploadSuccess': function (file, data, response) {
                var jsondata = JSON.parse(data)
                var html = "<li><div class='relative'> <img src=" + jsondata.SaveName + " width='100px' height='80px' class='uploadify-preimgs'/><span class='uploadify-itemdel'>删除</span></div></li>";
                $(".uploadify-picbox").append(html);


            },
            'onFallback': function () {
                alert("您未安装FLASH控件，无法上传图片！请安装FLASH控件后再试。");
            },
            'onError': function (event, queueID, fileObj) {
                alert("文件:" + fileObj.name + " 上传失败");
            }
        });

        $(".uploadify-itemdel").die().live('click', function () {

            $(this).parent().parent().remove();
        });
    });
    function BtnSaveOrUpdate() {
        if ($("#form1").form("validate")) {
            $(".savepreimgs").remove();
            var presrc = "";
            $(".uploadify-preimgs").each(function () {
                presrc = $(this).attr("src");


            });
            //if (presrc == "") {
            //    parent.TopNotify("请选择封面图片", 'error');
            //    return;
            //}
            presrc = "<input type='hidden' name='ArticleCover'  class='savepreimgs'  value=" + presrc + ">";
            $("#form1").append(presrc);

            $.ajax({
                cache: true,
                type: "POST",
                url: '/mblog/ajaxsavearticle?infoid=' + _id,
                data: $('#form1').serialize().replaceAll("'", "''"),
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                },
                success: function (data) {
                    if (data == "true") {

                        parent.TopNotify("保存成功", 'info');
                        if (_id == "") {
                            $("#form1").form("reset");
                            $(".uploadify-picbox").html("");
                        }
                        else
                            parent.windowClose();
                    }
                }
            });
        }

    }
</script>
