@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    博客用户请求管理
}
@section Header{

}
<div class="ManageBody">
    <div class="ManageOperateTitle">
        用户请求管理
    </div>
    <div class="ManageOperate">
        <form id="form1"  action="/" method="post">
            <table class="datatable">
               
                <tr>
                    <th>
                        请求内容：
                    </th>
                    <td>
                        <input name="RequestName" type="text" disabled="disabled" class="easyui-textbox" style="width: 200px" data-options="multiline:true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        审核内容：
                    </th>
                    <td>
                        <input name="RequestResult" type="text" class="easyui-textbox" style="width: 200px" data-options="required:true,multiline:true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        状态操作：
                    </th>
                    <td>
                        <select name="Status">
                            <option value="0">待审核</option>
                            <option value="1">审核通过</option>
                            <option value="-1">审核拒绝</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    var _id = '@Request["infoid"]';
    $(function () {
        //启用快捷键 83/ALT+s保存
        $(window).ApplyQuickKey(83, BtnSaveOrUpdate);
        //启用快捷键 83/ALT+c关闭
        $(window).ApplyQuickKey(67, parent.windowClose);
        if (_id != "") {
            $.ajax({
                type: "get", dataType: "json",
                url: "./AjaxGetRequestDetail",
                async: true,
                data: { infoid: _id },
                success: function (data) {
                    $("#form1").form("reset");
                    $("#form1").form("load", data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    TopNotify(errorThrown, 'error');
                }
            });
        }
    });
    function BtnSaveOrUpdate() {
        if ($("#form1").form("validate")) {
            $.ajax({
                cache: true,
                type: "POST",
                url: './AjaxSaveRequest?infoid=' + _id,
                data: $('#form1').serialize(),
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.TopNotify(errorThrown, 'error');
                },
                success: function (data) {
                    if (data == "true") {
                        parent.TopNotify("保存成功", 'info');
                        parent.windowClose();
                    }
                }
            });
        }
    }
</script>