@{
    Layout = null;
    Layout = "~/Areas/Manage/Views/Shared/_ManagePartial.cshtml";
}
@section Title{
    用户请求列表
}
@section Header{
    <link href="@Url.Content("~/Res/autocomplete/autocomplete.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Res/autocomplete/jquery.autocomplete.js")" type="text/javascript"></script>
}

<div class="ManageBody">
    <div class="ManageListTitle"></div>
    <fieldset class="ManageSearch" style="">
        <legend>信息查询</legend>
        <table class="datatable">
            <tr>
                <th style="width:80px;">
                    请求内容：
                </th>
                <td>
                    <input id="txtSearch" style="width: 175px" type="text" data-options="prompt:'请输入查询内容'"
                           class="search input" />

                    <a href='javascript:queryClick()' class='easyui-linkbutton' data-options='iconCls:"icon-search"'>
                        查询
                    </a>
                </td>
            </tr>
        </table>
    </fieldset>
    <div class="ManageList">
        <table id="InfoGridData"></table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#ManageMain").css("width", $(document).width() - 10)


        //操作按钮，此处需要添加操作权限控制
        var toolbarnode = [
            {
                text: '添加',
                iconCls: 'icon-add',
                handler: fixAdd
            }, '-', {
                text: '查看',
                iconCls: 'icon-view',
                handler: fixView
            }, '-', {
                text: '修改',
                iconCls: 'icon-edit',
                handler: fixEdit
            }, '-', {
                text: '删除',
                iconCls: 'icon-remove',
                handler: fixDel
            }, '-'
        ]
        $('#InfoGridData').datagrid({
            width: $(document).width() - 10,
            height: 380,
            fitColumns: false,
            striped: true,
            nowrap: false,
            showFooter: true,
            url: "/mblog/ajaxqueryRequestpagelist", method: 'get',
            collapsible: false,
            remoteSort: false,
            showFooter: true,
            singleSelect: true,
            pagination: true,
            rownumbers: true,
            pageSize: 10,
            columns: [[
                    { field: 'RequestID', width: 10, title: 'ID', sortable: true, hidden: true },
                    { field: 'RequestName', width: 220, title: '请求名称', sortable: true, },
                     {
                         field: 'CreateTime', width: 120, title: '添加时间', sortable: true,
                         formatter: DateHelper.DateTimeFormatter
                     },
   { field: 'Status', width: 60, title: '状态', align: 'center', sortable: true, formatter: formatterState },
                    {
                        field: 'Auditetime', width: 120, title: '审核时间', sortable: true,
                        formatter: DateHelper.DateTimeFormatter
                    }
            ]],
            toolbar: toolbarnode

        });
        var options = { serviceUrl: '/mblog/ajaxsearchRequest' };
        searchobj = $('#txtSearch').autocomplete(options);
    });
    function fixAdd() {
        openWindow('新增', "UserRequestManage", { width: 600, height: 450 })
    };

    function fixDel() {
        var selected = $('#InfoGridData').datagrid('getChecked');
        if (null == selected || selected.length < 1) {
            TopNotify("请选择数据", 'info');
            return;
        }
        $.messager.confirm("确认提示框", "确认删除这 " + selected.length + " 条吗？", function (r) {
            if (r) {
                var ls = $.map(selected, function (a) { return "'" + a.RequestID + "'"; }).toString();
                $.post('/mblog/AjaxDeleteRequest', { infoid: ls }, function (res) {
                    if (res == "true") {
                        $("#InfoGridData").datagrid('reload')
                        TopNotify("数据已删除", 'info');
                    }
                    else {
                        TopNotify(res, 'error');
                    }
                });
            }
        });
    };

    function fixEdit() {
        var selected = $('#InfoGridData').datagrid('getSelected');
        if (null == selected || selected.length < 1) {
            TopNotify("请选择数据", 'info');
            return;
        }
        openWindow('修改', "UserRequestmanage?infoid=" + selected.RequestID, { width: 600, height: 450 })
    };

    function fixView() {
        var selected = $('#InfoGridData').datagrid('getSelected');
        if (null == selected || selected.length < 1) {
            TopNotify("请选择数据", 'info');
            return;
        }
        openSimpleWindow('查看', "UserRequestmanage?infoid=" + selected.RequestID, { width: 600, height: 450 })
    };

    function queryClick() {
        $("#InfoGridData").datagrid('load', getQueryParam());
    };

    function getQueryParam() {
        var query = { name: $("#txtSearch").val() };
        return query;
    };
</script>

