@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>广告位招租</title>
    <link href="/content/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <img  src="/images/Blog/nopicture.jpg" width="300" height="220">
    </div>
</body>
</html>
