@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BlogPartial.cshtml";
}
@section Title{
    易特网IT资讯平台登录
}
@section Header{
    <link href="/Content/Blog/login.css" rel="stylesheet" />
    <script src="/Scripts/Blog/login.js"></script>
    <script src="/Scripts/common/jquery.webtopbar.js"></script>
}


<div class="content-wrap">
    <div class="content-container">
        <div class="login">

            <div class="header">
                <div class="switch" id="switch">
                    <a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7">快速登录</a>
                    <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a><div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
                </div>
            </div>


            <div class="web_qr_login" id="web_qr_login" style="display: block; height: 235px;">

                <!--登录-->
                <div class="web_login" id="web_login">


                    <div class="login-box">


                        <div class="login_form">
                            <form name="loginform" accept-charset="utf-8" id="login_form" class="loginForm" method="post">
                                <input type="hidden" name="did" value="0" />
                                <input type="hidden" name="to" value="log" />
                                <div class="uinArea" id="uinArea">
                                    <label class="input-tips" for="u">帐号：</label>
                                    <div class="inputOuter" id="uArea">

                                        <input type="text" id="u" name="username" class="inputstyle" />
                                    </div>
                                </div>
                                <div class="pwdArea" id="pwdArea">
                                    <label class="input-tips" for="p">密码：</label>
                                    <div class="inputOuter" id="pArea">

                                        <input type="password" id="p" name="password" class="inputstyle" />
                                    </div>
                                </div>

                                <div style="padding-left:50px;margin-top:20px;"><input id="btnLogin" type="button" value="登 录" style="width:150px;" class="button_blue" /></div>
                            </form>
                        </div>

                    </div>

                </div>
                <!--登录end-->
            </div>

            <!--注册-->
            <div class="qlogin" id="qlogin" style="display: none; ">

                <div class="web_login">
                    <form name="form2" id="regUser" accept-charset="utf-8"  method="post">
                        <input type="hidden" name="to" value="reg" />
                        <input type="hidden" name="did" value="0" />
                        <ul class="reg_form" id="reg-ul">
                            <div id="userCue" class="cue">快速注册请注意格式</div>
                            <li>

                                <label for="user" class="input-tips2">用户名：</label>
                                <div class="inputOuter2">
                                    <input type="text" id="user" name="user" maxlength="16" class="inputstyle2" />
                                </div>

                            </li>

                            <li>
                                <label for="passwd" class="input-tips2">密码：</label>
                                <div class="inputOuter2">
                                    <input type="password" id="passwd" name="passwd" maxlength="16" class="inputstyle2" />
                                </div>

                            </li>
                            <li>
                                <label for="passwd2" class="input-tips2">确认密码：</label>
                                <div class="inputOuter2">
                                    <input type="password" id="passwd2" name="" maxlength="16" class="inputstyle2" />
                                </div>

                            </li>

                            <li>
                                <label for="qq" class="input-tips2">QQ：</label>
                                <div class="inputOuter2">

                                    <input type="text" id="qq" name="qq" maxlength="10" class="inputstyle2" />
                                </div>

                            </li>
                            <li>
                                <label for="validatecode" class="input-tips2">验证码：</label>
                                <div class="inputOuter2">
                                    <input type="text" id="ivalidatecode" name="validatecode" maxlength="4" class="inputstyle3" />
                                    <img id="GL_StandardCode" style="cursor: pointer;float:right;" src="/blog/validatecode?t=@DateTime.Now.Ticks" title="看不清，点击换一张" />
                                </div>

                            </li>

                            <li>
                                <div class="inputArea">
                                    <input type="button" id="reg" style="margin-top:10px;margin-left:85px;" class="button_blue" value="同意协议并注册" />
                                    @*<a href="#" class="zcxy" target="_blank">注册协议</a>*@
                                </div>

                            </li>
                            <div class="cl"></div>
                        </ul>
                    </form>


                </div>


            </div>
            <!--注册end-->
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#GL_StandardCode").click(function () {
        var newSrc = "/blog/validatecode?t=" + (new Date()).getTime();
        this.src = newSrc;
        return false;
    });

    function BtnSaveOrUpdate() {
        $.ajax({
            cache: true,
            type: "POST",
            url: '/blog/ajaxlogin?l=@Request.QueryString["l"]',
            data: $('#login_form').serialize().replaceAll("'", "''"),
            async: false,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                TopNotify(errorThrown, 'error');
            },
            success: function (data) {
                if (data == "true") {
                    if ('@Request.QueryString["l"]' != "") 
                        location.href = '@Request.QueryString["l"]';
                    else
                        location.href = '/blog/index';
                }
                else if (data == "false")
                {
                    TopNotify("用户名或密码错误！", 'error');
                }
                else
                    TopNotify(data, 'error');
            }
        });

    }
    function btnSaveReg()
    {
        $.ajax({
            cache: true,
            type: "POST",
            url: '/blog/ajaxregister?l=@Request.QueryString["l"]',
            data: $('#login_form').serialize().replaceAll("'", "''"),
            async: false,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                TopNotify(errorThrown, 'error');
            },
            success: function (data) {
                if (data == "true") {
                    location.href = '/blog/pageok?l=@Request.QueryString["l"]';

                    
                }
                else if (data == "false") {
                    TopNotify("用户名或密码错误！", 'error');
                }
                else
                    TopNotify(data, 'error');
            }
        });

    }
    document.onkeydown = function (event) {
        e = event ? event : (window.event ? window.event : null);
        if (e.keyCode == 13) {
            //执行的方法 
            if ($("#web_qr_login").css("display")=="block")
                $("#btnLogin").click();
        }
    }
</script>